<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./src/assets/index.css" />
    <!-- 引入vue.js -->
    <script src="./node_modules/vue/dist/vue.global.js"></script>
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <script src="./node_modules/lodash/lodash.min.js"></script>
  </head>
  <body>
    <!--  -->
    <div id="app">
      <div class="container">
        <!-- 上面搜索部分 -->
        <div class="search">
          <div class="title">
            <p>综合</p>
            <p>定位</p>
          </div>
          <div class="types">
            <div v-for="(value,k) in typeList" :key="k" class="type-list">
              <div v-for="item in value" class="radio" :class="{checked:checked === item.value}" @click="changeType(k,item.value)">
                {{item.name}}
              </div>
              <!-- <div class="radio" :class="{checked:checked===11}" @click="changeType('zonghe',11)">新手推荐</div> -->
            </div>
            <!-- <div class="type-list">
              <div class="radio" :class="{checked:checked===0}" @click="changeType('dingwei',0)">全部</div>
              <div class="radio" :class="{checked:checked===3}" @click="changeType('dingwei',3)">坦克</div>
              <div class="radio" :class="{checked:checked===1}" @click="changeType('dingwei',1)">战士</div>
              <div class="radio" :class="{checked:checked===4}" @click="changeType('dingwei',4)">刺客</div>
              <div class="radio" :class="{checked:checked===2}" @click="changeType('dingwei',2)">法师</div>
              <div class="radio" :class="{checked:checked===5}" @click="changeType('dingwei',5)">射手</div>
              <div class="radio" :class="{checked:checked===6}" @click="changeType('dingwei',6)">辅助</div>
            </div> -->
          </div>
          <div class="keyword">
            <div class="input">
              <input type="text" placeholder="请输入你要搜索的英雄名" :value="keywords" @input="changeKeyword" />
            </div>
          </div>
        </div>

        <!-- 下面列表展示部分 -->
        <ul class="list">
          <li v-for="hero in filterHeroes" :key="id_name">
            <a :href="heroDetail(hero.ename)" target="_blank">
              <img :src="heroImage(hero.ename)" />
              <span v-html="hero.cname"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="./src/js/index.js"></script>
  </body>
</html>
